body {
  min-height: 100vh;
  font-family: sans-serif;
  background: dodgerblue;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: white;
  text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
}
